<!DOCTYPE html>
<html lang="zh-tw">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CHATROOM</title>
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="/index.css" type="text/css">
</head>
<body>
	<script src="/chat.js"></script>
	<div id="container">
		<div id="status-box">Server: <span id="status">--</span> / <span id="online">0</span> online.
		</div>
	<div>
		Welcome, <span id="user"></span>
	</div>
	<div id="content">
	</div>
	<br/>
	<div id="sendbox">
		<form id="sendform">
			<input type="text" name="message" id="message" placeholder="想說什麼?" onblur="trim()" required/>
			<input type="submit" value="送出" />
		</form>
	</div>
	</div>
</body>
</html>