<!DOCTYPE html>
<html lang="zh-tw">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>WELCOME TO CHATROOM</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="/index.css" type="text/css">
</head>
<body>
	<div id="container">
		<h2 class="form-signin-heading">請先輸入暱稱</h2>
	<div>
	<div id="content">
		<form class="form-signin" role="form" method="post" action="/chatroom">
			<br/>
			&nbsp; &nbsp;
			<input id="username" name="username" type="text" class="form-control" placeholder="暱稱" maxlength="10" required />
			<button id="btnEnter" class="btn btn-lg btn-primary" type="submit">進入聊天室</button>
		</form>  
	</div>	
</body>
</html>